@import "./scss/index.scss";

.success {
    border: 1px solid $background-success;
    background-color: $background-success;
}

.error {
    border: 1px solid $background-error;
    background-color: $background-error
}
